@-webkit-keyframes growDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  80% {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes growDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  80% {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.monthWhole {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#dropMonths {
  display: inline;
  font-size: 20px;
  margin-left: 10px;
}

.icons {
  font-size: 37px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#dropIcon {
  height: 40px;
  opacity: 0.9;
}

.monthList {
  font-size: 25px;
  background-color: azure;
  color: black;
  font-weight: 700;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  margin: 5px;
  margin-left: 10px;
  padding: 2px;
  list-style-type: none;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-animation: growDown 200ms ease-in-out forwards;
          animation: growDown 200ms ease-in-out forwards;
}

.mainDivContainer {
  height: 90vh;
  overflow-y: scroll;
}

.mainDivContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.mainDivContainer {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.mainDiv {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: start;
  text-align: center;
  margin-top: 40px;
  padding-top: 5px;
  font-size: 12px;
  height: 500px;
}

.mainDiv .childDiv {
  border-right: white 1px dotted;
}

li {
  list-style-type: none;
}

.childLi:nth-child(even) {
  background-color: #181818;
}

.childLi {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
}

.title {
  background-color: #161614;
  color: white;
  font-weight: 400;
  font-size: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 10px;
}

#totalLi {
  background-color: #580f0f;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 10px;
  border-radius: 20px;
  font-size: 14px;
  border-bottom-right-radius: 0%;
  border-top-right-radius: 0%;
}

.startColor {
  color: #5de6da;
}

.curJob {
  float: right;
  padding: 5px;
  margin-top: 10px;
  color: aliceblue;
}

.deleteDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 5px;
}

.deleteDiv #deleteIcon {
  opacity: 0.8;
}

.deleteDiv #delPlaceholder {
  margin: 0;
  display: block;
  width: 70px;
}

.nuke {
  height: 45px;
  position: absolute;
  bottom: 0;
  right: -100vw;
  opacity: 0.7;
}

.calculate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
}
/*# sourceMappingURL=styles.css.map */